<ion-header [hidden]="mainService.isOpenMenu">
  <ion-navbar style="padding-top:16px;" *ngIf="!enableSearch">
    <div class="custom-title custom-divider">
      {{mainService.title}} <span *ngIf="mainService.actionFilter.status == 'active' && mainService.actions.length > 0">({{mainService.actions.length}})</span>
    </div>
    <ion-buttons end>
      <button (click)="toggleSearch($event)" ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-navbar *ngIf="enableSearch"  style="padding-top:12px;">
    <div class="custom-title custom-divider">
      <input id="txt-search" class="input-save custom-input-search" focuser placeholder="Search {{mainService.title}}" type="search"
        name="search" (input)="getItems($event)" />
    </div>
    <ion-buttons end>
      <button (click)="toggleSearch($event)" ion-button clear color="primary">
        Cancel
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="custom-ion-toolbar" no-border-top>
    <button style="padding-left:9px;" [ngClass]="{'custom-filter-home': true, 'custom-selected': mainService.selected == 'active' && !mainService.viewDocument}"
      ion-button clear (click)="filter('active')">Active</button>
    <button [ngClass]="{'custom-filter-home': true, 'custom-selected': mainService.selected == 'ended' && !mainService.viewDocument}"
      ion-button clear (click)="filter('ended')">Done <ion-icon class="custom-icon-check" name="icon-check"></ion-icon></button>
    <button [ngClass]="{'custom-filter-home': true, 'custom-selected': mainService.viewDocument}" *ngIf="mainService.actionFilter.projectID != null"
      ion-button clear (click)="docs()">Docs </button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher closeDuration="0" pullMin="130" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="" refreshingText=""></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="mainService.viewDocument" [hidden]="mainService.isOpenMenu">
    <ion-card *ngFor="let file of mainService.files">
      <img *ngIf="file.type == 0" [src]="file.img" (click)="openPicture(file)" />
      <div *ngIf="file.type == 1" class="custom-file-document" (click)="openFile(file)">
        <img style="margin:auto 0;" src="assets/images/default.png">
      </div>
      <ion-card-content>
        <p>
          {{file.name}}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-list no-lines *ngIf="!mainService.viewDocument" [hidden]="mainService.isOpenMenu">
    <div *ngFor="let actionLocal of mainService.syncArray" (click)="detail(actionLocal.data)" tappable class="primary-button custom-trash-action"
      ion-item detail-none>
      <div class="list-button">
        <h2>{{actionLocal.data.shortSubject}} 
          <span [innerHtml]="actionLocal.data.dueDate | dateColor"></span>
          <ion-icon name="refresh"></ion-icon>
        </h2>
        <p>
          <span class="users" *ngFor="let user of actionLocal.data.assignedUsers"><ion-icon name="icon-user"></ion-icon> {{ user.names }}</span>
          <span class="users" *ngFor="let project of actionLocal.data.projects">{{ project.name }}</span>
        </p>
      </div>
    </div>
    <ion-item-sliding #item *ngFor="let action of mainService.actions" [ngClass]="{'custom-list-h': true,  'remove-item': action.remove}">
      <button type="button" class="primary-button" ion-item detail-none (tap)="detail(action)">
        <div class="list-button">          
          <h2>
            <span class="custom-new-updates" *ngIf="action.countUpdates > 0"></span> {{action.shortSubject}}
            <span *ngIf="action.status == 0" item-end [innerHtml]="action.dueDate | dateColor"></span>              
            <span *ngIf="action.status == 1" item-end [innerHtml]="action.finalizedDate | dateColor:action.dueDate"></span>
          </h2> 
        <p>
          <span class="users" *ngFor="let user of action.assignedUsers"><ion-icon name="icon-user"></ion-icon> {{ user.names }}</span>
          <span class="users" *ngFor="let project of action.projects">{{ project.name }}</span>
        </p>
        </div>         
      </button>
      <ion-item-options *ngIf="action.status == 0" side="right" (ionSwipe)="done(action)">
        <button class="button-swipe button-more" ion-button (click)="openmenu(action, item)" color="light">
          <ion-icon class="custom-icon-swipe" name="icon-more"></ion-icon>
          <span>More</span>
        </button>
        <button class="button-swipe tagcolor2" ion-button expandable (click)="done(action)">
          <ion-icon class="custom-icon-swipe" name="icon-check"></ion-icon>
          <span>Done</span>
        </button>
      </ion-item-options>
      <ion-item-options *ngIf="action.status == 1" side="right" (ionSwipe)="done(action)">
        <button class="button-swipe tagcolor4" ion-button (click)="remove(action)" color="danger">
          <ion-icon class="custom-icon-swipe" name="icon-delete"></ion-icon>
          <span>Delete</span>
        </button>
        <button class="button-swipe button-more" ion-button expandable color="light" (click)="done(action)">
          <ion-icon class="custom-icon-swipe" name="icon-react"></ion-icon>
          <span>Make active</span>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-toolbar class="custom-footer-bar" [ngClass]="{'custom-footer-noline': this.mainService.isOpenMenu, 'custom-footer-bar': true}">
    <button class="custom-toogle-menu" ion-button clear (click)="toogleMenu()">
      <ion-icon name="icon-custom-menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button class="button-clear-manada fontcolor2" (click)="newAction()" ion-button icon-right color="primary">
        New action
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>