<div *ngIf="showAnimate" class="send-animate">
  <img src="assets/images/check-manada.gif?r={{model.actionID}}" />
</div>
<ion-header>
  <ion-navbar>
    <ion-title>
      Action Detail
    </ion-title>
    <ion-buttons end>
      <button *ngIf="model.status == 0" (click)="changeStatus()" ion-button icon-right>
          Done
      </button>
      <button *ngIf="model.status == 1" (click)="changeStatus()" ion-button icon-right>
          Reactive
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content fixed scrollDownOnLoad="true" class="custom-content" (tap)="contentMouseDown($event)">
  <ion-infinite-scroll position="top" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-list>
    <ion-card class="custom-card">
      <div class="color-bar tag{{model.color}}"></div>
      <ion-card-header>
        1. {{model.creator.names}}
        <button class="custom-button-edit" (click)="displayMenuAction()" type="button">
          <ion-icon class="custom-icon-edit custom-icon-edit-comment" name="icon-edit"></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        <span class="custom-comment-date" [innerHTML]="model.creationDate"></span>
        <p [innerHTML]="model.subject"></p>
        <p>
          <span class="users" *ngFor="let user of model.assignedUsers"><ion-icon name="icon-user"></ion-icon> {{ user.names }}</span>
          <span class="users" *ngFor="let project of model.projects">{{ project.name }}</span>
        </p>
      </ion-card-content>
      <div *ngFor="let file of model.files | commentType:0" class="custom-card-image">
        <img (click)="openPicture(file)" [src]="rootPath + file.path" />
      </div>
      <button class="custom-button-file" *ngFor="let file of model.files | commentType:1" ion-button clear block color="primary"
        (click)="openFile(file)">
        <ion-icon name="attach"></ion-icon>        
        {{file.name}}
      </button>
    </ion-card>
    <ion-card class="custom-card" *ngFor="let comment of comments">
      <div class="color-bar tag{{comment.color}}"></div>
      <ion-card-header>
        {{comment.index}}. {{comment.user.names}}
        <ion-icon *ngIf="model.status == 0 && comment.user.userID == mainService.currentUser.user_id" (click)="displayMenuComment(comment)"
          class="custom-icon-edit custom-icon-edit-comment" name="icon-edit"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <span class="custom-comment-date" [innerHTML]="comment.modificationDate | tillDate"></span>
        <p [innerHTML]="comment.content"></p>
      </ion-card-content>
      <div *ngFor="let file of comment.files | commentType:0" class="custom-card-image">
        <img (click)="openPicture(file)" [src]="rootPath + file.path" />
      </div>
      <button class="custom-button-file" *ngFor="let file of comment.files | commentType:1" ion-button clear block color="primary"
        (click)="openFile(file)">
        <ion-icon name="attach"></ion-icon>        
        {{file.name}}
      </button>
      <button class="custom-response-comment-button" type="button" ion-button clear left (click)="newSubcomment(comment)" color="primary">Comment</button>
      <ion-card class="custom-card" *ngFor="let subcomment of comment.comments">
        <ion-card-header>
          {{subcomment.user.names}}
          <button (click)="displayMenuComment(subcomment)" class="custom-button-edit" type="button">
              <ion-icon *ngIf="model.status == 0" class="custom-icon-edit custom-icon-edit-comment"
            name="icon-edit"></ion-icon>
          </button>
        </ion-card-header>
        <ion-card-content>
          <span class="custom-comment-date" [innerHTML]="subcomment.modificationDate | tillDate"></span>
          <p [innerHTML]="subcomment.content"></p>
        </ion-card-content>
      </ion-card>
    </ion-card>
  </ion-list>
</ion-content>
<ion-footer (touchstart)="footerTouchStart($event)">
  <ion-list class="custom-list-files">
    <ion-item *ngFor="let file of comment.files">
      <ion-avatar item-start>
        <img [src]="rootPath + file.path">
      </ion-avatar>
      <h2>{{file.name}}</h2>
      <button (click)="removeFile($event, file)" ion-button clear item-end>
        <ion-icon color="danger" name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)="files($event)" ion-button icon-left color="primary">        
        <ion-icon name="attach"></ion-icon>
      </button>
    </ion-buttons>
    <input id="commentinput" style="width: 100%;" class="input-save" type="text" name="content" [(ngModel)]="comment.content">
    <ion-buttons end>
      <button (click)="send($event)" ion-button icon-right color="primary">
        Send
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>