.custom-card {
    padding: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #F1F1F1 !important;
    margin: 0 !important;
    width: 100% !important;
    position: relative;

    ion-card {
        margin-left: 35px !important;
    }

    ion-card-header {
        padding-bottom: 4px;
        color:#000;
    }    
}

.custom-comment-card {
    ion-card-content {
        padding-bottom: 0 !important;
    }
}

.custom-response-comment-button {
    margin: 0 !important;
    height: 35px !important;
    span {
        font-size: 14px; 
        color:#7F7F7F;
    }
}
.custom-card-image {
    padding:  10px 10px 0 10px !important;
    box-sizing: border-box;
}
.custom-comment-date {
    font-size: 13px;
    color:#666;
}
.custom-button-file {
    span {
        text-align: left;
        -webkit-justify-content:left !important;
        justify-content:left !important;
        -webkit-align-items:left !important;
    } 
    ion-icon {
        margin-right: 10px;
    }   
}
.color-bar {
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F1F1F1;
}
.custom-content {
    .scroll-content {
        display: flex;
        flex-direction: column;

        ion-list {
            margin-top: auto;
            margin-bottom: 0;
        }
    }    
}
.input-save {
    border:none;
        padding: 8px 8px 8px 18px;
    border-radius: 8px !important;
    width: 100%;
}
.custom-list-files {
    margin: 0 !important;
    padding: 0 !important;
}
.custom-icon-edit-comment {
    margin-left: 10px;
}
.custom-button-edit {
    background-color: transparent;
    padding: 0;
    margin: 0;
}
.custom-white-space {
    white-space: nowrap;
    margin-bottom: 5px !important;
    float: left;
}
#commentinput {
    border:1px solid #F1F1F1;
    border-radius: 5px;
    padding: 8px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.custom-content-users {
    margin-top:5px;

    span {
        border:1px solid #C4C4C4;
        color:#8e9093;
        font-size: 12px;
        padding: 2px;
    }
}
.custom-clear {
    clear: both;
}
.custom-visibility-hidde {
    height: 20px;
}
.custom-card-padding {
    padding-top: 0 !important;
}
.custom-card-subcomment {
    margin-bottom: 8px !important;
    padding-bottom: 8px !important;;
}
.custom-card-subcomment:last-child {
    border: none !important;
}