// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tagcolor1{
    background: $color1 !important;
    color:#fff;
}
.tagcolor2{
    background: $color2 !important;
    color:#fff;
}
.tagcolor3{
    background: $color3 !important;
    color:#fff;
}
.tagcolor4{
    background: $color4 !important;
    color:#fff;
}
.fontcolor1{
    color: $color1 !important;
}
.fontcolor2{
    color: $color2 !important;
}
.fontcolor3{
    color: $color3 !important;
}
.fontcolor4{
    color: $color4 !important;
}
.custom-remove-confirm {
    color:#f53d3d !important;
}
body {
    background-color: #fff !important;
}

.icon-edit:before {
  content: "\e90c";  
}
.icon-user:before {
  content: "\e901";  
}
.icon-clip:before {
    content: "\e904";
}
.icon-check:before {
    content: "\e904";
}
.icon-custom-menu:before {
    content: "\e90e";
}
.icon-more:before {
    content: "\e90f";
}
.icon-react:before {
    content: "\e913";
}
.icon-delete:before {
    content: "\e900";
}
.icon-close:before {
    content: "\e905";
}
.custom-icon-edit {
  font-size: 12px !important;
}

.button-clear-manada {
    font-size:x-large;
    font-weight: bold;
    text-transform: none !important;
}
.toolbar-background {
    background-color: #fff;
    border-bottom: none !important;
}
.custom-title {
    width: auto !important;
    padding-left: 11px !important;
    font-size: 18px !important;
    
    div {
        padding-left: 0 !important;
    }
}
.custom-order {
    order:3;
}
.custom-attach-button {
    font-size: 15px !important;
    padding: 0 !important;
    span {
        font-size: 15px !important;
    }
}
button {
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}