// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$color1: #5ECCEE;
$color2: #22DB98;
$color3: #FFEE3F;
$color4: #FF0047;

.tagcolor1{
    background: $color1 !important;
}
.tagcolor2{
    background: $color2 !important;
}
.tagcolor3{
    background: $color3 !important;
}
.tagcolor4{
    background: $color4 !important;
}
.custom-remove-confirm {
    color:#f53d3d !important;
}
body {
    background-color: #fff !important;
}