.col {
    text-align: center;
}
.calendar-header {
    font-size: 20px;
}
.calendar-week-days {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.calendar-days {
    padding-top: 10px;
    padding-bottom: 10px;
}
.calendar-selected-day {
    background-color: #000;
    border-radius: 100%;
    padding: 10px;
    color: #fff;
}