<ion-menu [content]="content" [swipeEnabled]="false" type="reveal" class="show-menu custom-menu-item" (click)="this.mainService.isOpenMenu = !this.mainService.isOpenMenu">
  <ion-content>
    <button class="custom-divider custom-list-button custom-menu-margin-top" ion-item detail-none (click)="allActions()">All Actions <ion-note class="custom-action-ion-note" *ngIf="mainService.countAll > 0" item-end>{{mainService.countAll}}</ion-note></button>
    <button class="custom-divider custom-list-button custom-menu-margin-top" ion-item detail-none (click)="addUser()">My team +</button>
    <ion-list class="custom-ion-list">
      <ion-item-sliding #item *ngFor="let user of mainService.users; first as isFirst">
        <button class="custom-list-button" ion-item detail-none (click)="filterUser(user)">{{user.names}} 
          <span class="custom-new-updates right" *ngIf="user.countUpdates > 0"></span>          
          <ion-note class="custom-action-ion-note" *ngIf="user.countActiveActions > 0" item-end>{{user.countActiveActions}}</ion-note>
        </button>
        <ion-item-options side="right" *ngIf="!isFirst">
          <button class="button-swipe sublist" ion-button (click)="removeUser(user, item)">
            Delete
          </button>
          <button class="button-swipe sublist" ion-button (click)="editUser(user, item)">
            Edit
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <button class="custom-divider custom-list-button custom-menu-margin-top" ion-item detail-none (click)="addProject()">Projects +</button>
    <button class="custom-list-button" ion-item detail-none (click)="filterProject(mainService.projectRaw)">{{mainService.projectRaw.name}}  
      <ion-note class="custom-action-ion-note" *ngIf="mainService.projectRaw.countActions > 0" item-end>{{mainService.projectRaw.countActions}}</ion-note>
    </button>
    <ion-list class="custom-ion-list">
      <ion-item-sliding #item *ngFor="let project of mainService.projects">
        <button class="custom-list-button" ion-item detail-none (click)="filterProject(project)">{{project.name}}  
          <ion-note class="custom-action-ion-note" *ngIf="project.countActions > 0" item-end>{{project.countActions}}</ion-note>
        </button>
        <ion-item-options side="right">
          <button class="button-swipe sublist" ion-button (click)="removeProject(project, item)">
            Delete
          </button>
          <button class="button-swipe sublist" ion-button (click)="editProject(project, item)">
            Edit
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <button class="custom-divider custom-list-button custom-menu-margin-top custom-menu-margin-bottom" ion-item detail-none (click)="account()">Account</button>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" [ngClass]="{'custom-animate-menu': true,  'custom-side-left': mainService.isOpenMenu}"></ion-nav>