.custom-list-button {
    color:#666 !important;

    .item-inner {
        border-bottom: none !important;
    }
}
.custom-action-ion-note {
    margin-top:8px !important;
    font-size: 13px !important;
    color: #666 !important;
}
.custom-divider {
    font-weight: bold !important;
    font-size: 18px !important;
    color:#000 !important;    
}
.custom-ion-list {
    border:none !important;
    padding: 0 !important;
    margin: 0 !important;

    button {
        border:none !important;
    }
}
.custom-side-left {
    transform: translateX(304px);
}
.custom-animate-menu {
    transition: transform 0.250s ease-in-out;
}