.custom-ion-toolbar {
    padding: 4px !important;
}
.custom-bg-password {
    background-color: #F8F8F8 !important;
}
.custom-label-setting {
    padding: 10px;
}
.custom-content-padding {
    .scroll-content {
        padding: 5px !important;
    }
}