<ion-header [hidden]="mainService.isOpenMenu">
    <ion-navbar style="padding-top:16px;">
        <div class="custom-title custom-divider">
            Account
        </div>
    </ion-navbar>
    <ion-toolbar class="custom-ion-toolbar" no-border-top>
        <button style="padding-left:9px;" [ngClass]="{'custom-filter-home': true, 'custom-selected': selected == 'account' }"
            ion-button clear (click)="filter('account')">Account</button>
        <button [ngClass]="{'custom-filter-home': true, 'custom-selected': selected == 'email' }"
            ion-button clear (click)="filter('email')">Emails</button>        
    </ion-toolbar>    
</ion-header>
<ion-content class="custom-content-padding">
    <div *ngIf="selected == 'account'" [hidden]="mainService.isOpenMenu">
        <form (submit)="send(form)" #form="ngForm">
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input required type="text" [(ngModel)]="model.names" name="names"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Email</ion-label>
                <ion-input pattern="\\w+([-+.']\\w+)*@\\w+([-.]\\w+)*\\.\\w+([-.]\\w+)*" required type="email" [(ngModel)]="model.email"
                    name="email"></ion-input>
            </ion-item>
            <button [disabled]="!form.valid" ion-button color="primary" type="submit" clear>Save changes</button>
        </form>
        <div *ngIf="!showChangePassword">
            <ion-item class="custom-bg-password">
                <ion-label>Password</ion-label>
                <ion-input readonly type="password" value="******"></ion-input>
            </ion-item>
            <button ion-button color="primary" type="button" (click)="showChangePassword = !showChangePassword" clear>Change password</button>
        </div>
        <form *ngIf="showChangePassword" (submit)="updatePassword(form)" #formPass="ngForm">
            <ion-item>
                <ion-input minlength="6" placeholder="Password (min 6 characters)" required type="password" [(ngModel)]="passwordModel.password"
                    name="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input minlength="6" placeholder="Confirm password" required type="password" [(ngModel)]="passwordModel.confirmPassword"
                    name="confirmPassword"></ion-input>
            </ion-item>
            <button [disabled]="!formPass.valid || !form.valid || passwordModel.confirmPassword != passwordModel.password" ion-button
                color="primary" type="submit" clear>Save changes</button>
        </form>
        <div>
            <button ion-button color="danger" type="button" (click)="logout()" clear>Log out</button>
        </div>
    </div>
    <div *ngIf="selected == 'email'" [hidden]="mainService.isOpenMenu">
        <ion-list>
            <div *ngFor="let setting of settings">
                <div class="custom-label-setting">
                    {{setting.description}}
                </div>
                <ion-item>
                    <ion-toggle (ionChange)="changeSetting(setting)" [(ngModel)]="setting.value"></ion-toggle>
                    <ion-label>
                        {{setting.name}}
                    </ion-label>
                </ion-item>
            </div>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="custom-footer-bar" [ngClass]="{'custom-footer-noline': this.mainService.isOpenMenu, 'custom-footer-bar': true}">
    <button class="custom-toogle-menu" ion-button clear (click)="toogleMenu()">
      <ion-icon name="icon-custom-menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button class="button-clear-manada fontcolor2" (click)="newAction()" ion-button icon-right color="primary">
        New action
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>