<div *ngIf="showAnimate" class="send-animate">
    <img src="assets/images/send-manada.gif?r={{model.actionID}}" />
</div>
<ion-header>
    <ion-navbar>
        <div class="custom-title custom-divider">
            New Action
        </div>
        <ion-buttons end>
            <button style="font-size: 13px;" (click)="dismiss()" ion-button icon-right>
                <ion-icon name="icon-close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div #subject class="subject-action" contenteditable="true" placeholder="Write your action here"></div>
    <ion-item text-wrap class="custom-row-autocomplete" (click)="focus('inputname')"> 
        <label>To</label>
        <p>
            <span *ngFor="let user of model.assignedUsers">{{user.names}}</span>
            <input (focus)="scrollUp($event)" autocomplete="off" #inputname id="inputname" [(ngModel)]="username" (input)="displayUsers($event)" (keyup)="removeLast($event)" type="text"
                name="username" />
        </p>
    </ion-item>
    <ion-item *ngIf="users.length > 0">
        <ion-list class="custom-list-users">
            <button *ngFor="let user of users" (touchstart)="addUser($event, user)" ion-item detail-none type="button">{{user.names}}</button>
        </ion-list>
    </ion-item>
    <ion-item text-wrap class="custom-row-autocomplete" (click)="focus('inputproject')">
        <label>Project</label>
        <p>
            <span *ngFor="let project of model.projects">{{project.name}}</span>
            <input (focus)="scrollUp($event)" autocomplete="off" #inputproject id="inputproject" [(ngModel)]="projectname" (input)="displayProjects($event)" (keyup)="removeLastProject($event)"
                type="text" name="username" />
        </p>
    </ion-item>
    <ion-item *ngIf="projects.length > 0">
        <ion-list class="custom-list-users">
            <button *ngFor="let project of projects" (touchstart)="addProject($event, project)" ion-item detail-none type="button">{{project.name}}</button>
        </ion-list>
    </ion-item>
    <ion-item (click)="calendar()" tappable class="custom-row-autocomplete">
        <label>Due date</label>
        <span class="no-border">{{model.dueDate}}</span>
    </ion-item>
    <ion-list class="custom-list-files">
        <ion-item *ngFor="let file of model.files">
            <ion-avatar item-start>
                <img [src]="rootPath + file.path">
            </ion-avatar>
            <h2>{{file.name}}</h2>
            <button [disabled]="isBusy" (touchstart)="removeFile($event, file)" ion-button clear item-end>
                <ion-icon color="danger" name="trash"></ion-icon>
            </button>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer (touchstart)="footerTouchStart($event)">
    <ion-toolbar>
        <ion-buttons start>
            <button class="custom-attach-button" (touchstart)="attach($event)" ion-button icon-left color="primary">        
                    <ion-icon name="icon-clip"></ion-icon>
                </button>
        </ion-buttons>
        <ion-buttons end>
            <button class="button-clear-manada fontcolor2" (touchstart)="send($event)" ion-button icon-right>
                    Send        
                </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>